@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');

@theme {
  --font-sans: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Lexend", sans-serif;
  --color-primary: #137fec;
  --color-primary-hover: #1068c2;
  --color-bg-light: #f6f7f8;
  --color-bg-dark: #101922;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-emergency: #dc2626;
  --color-warning: #f59e0b;
}

@layer base {
  body {
    @apply bg-bg-light text-slate-900 dark:bg-background-dark dark:text-slate-100 font-sans antialiased;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

  *:hover::-webkit-scrollbar-thumb,
  .is-scrolling ::-webkit-scrollbar-thumb {
    background: #cbd5e1;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}
